{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "bracketSameLine": true,
  "cursorOffset": -1,
  "printWidth": 80,
  "plugins": ["prettier-plugin-tailwindcss"],
  "proseWrap": "always",
  "jsxSingleQuote": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "useTabs": true
}